





/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
  
    
    /*background for the modal cut for the UI missing ; to deactivate*/
    background-color: rgb(0,0,0) /* Fallback color */
    background-color: rgba(0,0,0,0.4) /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
      
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}





/*FONTS*/

h1{font-family: 'Roboto', sans-serif;
}
h2{font-family: 'Roboto', sans-serif;
   font-weight: 700;
}
h3{font-family: 'Roboto', sans-serif;
   font-weight: 300;
}
p{font-family: 'Roboto', sans-serif;

}



/*  TOP NAV MENU  */

body {margin:1;}
 /* Remove margins and padding from the list, and add a black background color */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a5cc3c;
  
}

/* Float the list items side by side */
ul.topnav li {float: right;
margin:20px;
padding-bottom:10px;

}

/*Style the logo*/
.navlogo { position:absolute;
margin-bottom:10px;

}

/*Style the name*/
.navname {
           padding-left:170px;
           position:absolute;

  color:white;
  font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

/* Style the links inside the list items */
ul.topnav li a {
    margin-top:10px;
    display: inline-block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
   
}

/* Change background color of links on hover */
ul.topnav li a:hover {color: #252525;

}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


/*Add media queries*/
/*:not(:first-child) bætt framan við ul.topnav li til að halda home skritinni*/
 /* When the screen is less than 920 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:920px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:920px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

 
}
  /*this makes the navlogo dissapear in the responsive menu*/
ul.topnav.responsive li.navlogo{display:none;}


/* this makes the navname dissapear in the responsive menu*/
ul.topnav.responsive li.navname{display:none;}


.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-image: url("1280x1024.jpg");
    height:500px;
    padding:10px;

   
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
   
    }

    .flex footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100px;
  background-color:#a5cc3c;
  color:white;
    }

    .flex-container-week {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
     height: 100px;
  background-color:white;
    }


  /*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
  background-color:white;
  text-align:center;
  position:relative;
 
  
  
}

/*  style the week column  */

.weekstyle {
	background-color:white;
	height: 300px;
	position: relative;
}


.col:hover {
	color:#ffffff;
}

.col:hover .button2,
.col:hover .green_bg {
	opacity: 1.0;
	transition-duration: 0.2s;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SEVEN  */
.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
  	width: 85.48%;
}

.span_5_of_7 {
  	width: 70.97%;
}

.span_4_of_7 {
  	width: 56.45%;
}

.span_3_of_7 {
  	width: 41.94%;
}

.span_2_of_7 {
  	width: 27.42%;
}

.span_1_of_7 {
  	width: 12.91%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7 { width: 100%; }
}

/*  GRID OF FIVE  */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
	width: 79.68%;
}
.span_3_of_5 {
	width: 59.36%;
}
.span_2_of_5 {
	width: 39.04%;
}
.span_1_of_5 {
	width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}


/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}



  .button1 {
 background-color: white; 
    color: black; 
    border: 2px solid black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;	
}

.button2 {
	background-color: #a5cc3c;
	opacity: 0.8;
	position: absolute;
	bottom: 10px;
	left: 17.5%;
}


.button1:hover {
    background-color:black;
    color: white;

}
      /*responsive images*/ 
   
    img {
    width: 100%;
    height: auto;
  position:relative;
}

/* Recipe images as backgrounds */

.basil_pomodoro_bg {
	background-image: url(../images/basil_pomodoro.jpg);
	background-size: cover;
	background-position: center;
}

.butternut_squash_bg {
	background-image: url(../images/butternut_squash.jpg);
	background-size: cover;
	background-position: center;
}

.daikon_noodles_bg {
	background-image: url(../images/daikon_noodles.jpg);
	background-size: cover;
	background-position: center;
}

.egg_rocket_bg {
	background-image: url(../images/egg_rocket.jpg);
	background-size: cover;
	background-position: center;
}

.chicken_cacciatore_bg {
	background-image: url(../images/chicken_cacciatore.jpg);
	background-size: cover;
	background-position: center;
}

.paillard_chicken_bg {
	background-image: url(../images/paillard_chicken.jpg);
	background-size: cover;
	background-position: center;
}

.pisto_huevos_bg {
	background-image: url(../images/pisto_huevos.jpg);
	background-size: cover;
	background-position: center;
}

.beet_noodles_bg {
	background-image: url(../images/beet_noodles.jpg);
	background-size: cover;
	background-position: center;
}

.seared_steak_bg {
	background-image: url(../images/seared_steak.jpg);
	background-size: cover;
	background-position: center;
}

.teriyaki_chicken_bg {
	background-image: url(../images/teriyaki_chicken.jpg);
	background-size: cover;
	background-position: center;
}

.thyme_beet_bg {
	background-image: url(../images/thyme_beet.jpg);
	background-size: cover;
	background-position: center;
}

.vegan_zucchini_bg {
	background-image: url(../images/vegan_zucchini.jpg);
	background-size: cover;
	background-position: center;
}

.warm_chorizo_bg {
	background-image: url(../images/warm_chorizo.jpg);
	background-size: cover;
	background-position: center;
}

.zucchini_spaghetti_bg {
	background-image: url(../images/zucchini_spaghetti.jpg);
	background-size: cover;
	background-position: center;
}

.green_bg {
	background-color: #a5cc3c;
	opacity: 0.8;
}

.text-center {
	text-align: center;
}


/* Pop up styling */


/* Popup container - can be anything you want */
.col_1_of_4 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}